services:
  api:
    image: ghcr.io/riskymh/emailthing-api:latest
    restart: always
    init: true
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NEXT_PUBLIC_NOTIFICATIONS_PUBLIC_KEY: ${NEXT_PUBLIC_NOTIFICATIONS_PUBLIC_KEY}
      WEB_NOTIFICATIONS_PRIVATE_KEY: ${WEB_NOTIFICATIONS_PRIVATE_KEY}
      EMAIL_AUTH_TOKEN: ${EMAIL_AUTH_TOKEN}
      EMAIL_DKIM_PRIVATE_KEY: ${EMAIL_DKIM_PRIVATE_KEY}
      S3_KEY_ID: ${S3_KEY_ID}
      S3_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
      S3_URL: ${S3_URL}
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3000/sitemap.json"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 5s
    deploy:
      update_config:
        order: start-first
        # order: stop-first
        failure_action: rollback
        max_failure_ratio: 0
        monitor: 5s
      restart_policy:
        condition: any

  pwa:
    image: ghcr.io/riskymh/emailthing-pwa:latest
    restart: always
    init: true
    ports:
      - "3010:3000"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3000/robots.txt"]
      interval: 10s
      timeout: 2s
      retries: 5
      start_period: 5s
    deploy:
      update_config:
        order: start-first
        # order: stop-first
        failure_action: rollback
        max_failure_ratio: 0
        monitor: 5s
      restart_policy:
        condition: any
