:root {
    --color-light-bg: rgb(255, 255, 255);
    --color-light-secondary: rgb(242,242,242);
    --color-light-text: rgb(0, 0, 0);
    --color-light-muted-text: rgb(183, 183, 183);
    --color-light-muted2-text: rgb(144, 144, 154);
    --color-light-muted3-text: rgb(180, 177, 179);
    --color-light-muted4-text: rgb(177, 180, 182);
    --color-light-border: rgb(234, 234, 234);

    --color-light-sidebar-bg: rgb(243, 243, 243);
    --color-light-sidebar-active-bg: rgb(255, 255, 255);

    --color-light-card-bg: rgb(255, 255, 255);
    --color-light-card-border: var(--color-light-border);
    --color-light-card-secondary: var(--color-light-card-bg);
    --color-light-card-element: rgba(231, 231, 231, 0.25);

    --color-light-search-bg: rgb(252, 252, 252);

}


:root {
    --color-dark-bg: rgb(24, 23, 28);
    --color-dark-secondary: rgb(55, 55, 65);
    --color-dark-text: rgb(255, 255, 255);
    --color-dark-muted-text: rgb(71, 76, 82);
    --color-dark-muted2-text: rgb(132, 138, 152);
    --color-dark-muted3-text: rgb(144, 145, 150);
    --color-dark-muted4-text: rgb(99, 99, 101);
    --color-dark-border: rgb(44, 43, 49);

    --color-dark-sidebar: var(--color-sidebar-bg);
    --color-dark-sidebar-active-bg: rgb(35, 35, 37);

    --color-dark-card-bg: rgb(29, 28, 33);
    --color-dark-card-border: var(--color-dark-border);
    --color-dark-card-secondary: var(--color-dark-card-border);
    --color-dark-card-element: rgb(32, 31, 36);

    --color-dark-search-bg: rgb(35, 34, 39);
}