@import "tailwindcss";

@layer base {
  :root {
    /* light and dark mode available */
    color-scheme: light dark;

    --background: #ffffff;
    --foreground: var(--primary);

    --muted: var(--secondary);
    --muted-foreground: #8f8ca2;

    --popover: var(--tertiary);
    --popover-foreground: var(--primary);

    --border: #eeeff0;
    --input: var(--muted-foreground);

    --card: var(--secondary);
    --card-foreground: var(--primary);

    --primary: #07041d;
    --primary-foreground: var(--secondary);

    --secondary: #f1f0f5;
    --secondary-foreground: var(--primary);

    --accent: var(--secondary);
    --accent-foreground: var(--primary);

    --tertiary: #ffffff;
    --tertiary-foreground: var(--muted-foreground);

    --red: #fc5a5a;
    --red-foreground: var(--secondary);

    --blue: #1e75ff;
    --blue-foreground: var(--primary-foreground);

    --destructive: var(--red);
    --destructive-foreground: var(--red-foreground);

    --ring: var(--border);

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #1c1c24;
      --foreground: var(--primary);

      --muted: var(--tertiary);
      --muted-foreground: #898993;

      --accent: var(--border);
      --accent-foreground: #f1f0f5;

      --popover: var(--tertiary);
      --popover-foreground: var(--primary);

      --border: #2c2c34;
      --input: #4e4e56;

      --card: var(--secondary);
      --card-foreground: var(--primary);

      --primary: #efeff0;
      --primary-foreground: var(--secondary);

      --secondary: #292932;
      --secondary-foreground: var(--primary);

      --tertiary: #17171e;
      --tertiary-foreground: var(--muted-foreground);

      --red: #fc5a5a;
      --red-foreground: var(--primary);

      --blue: #1e75ff;
      --blue-foreground: var(--secondary-foreground);

      --destructive: var(--red);
      --destructive-foreground: var(--red-foreground);

      --ring: var(--input);
    }
  }

  * {
    @apply border-border;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;

  max-width: 1400px;
}

@utility animate-direction-reverse {
  animation-direction: reverse;
}

.toaster {
  --normal-bg: var(--tertiary) !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@theme {
  --border-3: 3px;

  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-input: var(--input);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-red: var(--red);
  --color-red-foreground: var(--red-foreground);

  --color-blue: var(--blue);
  --color-blue-foreground: var(--blue-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-blue: var(--blue);
  --color-blue-foreground: var(--blue-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* --font-heading: "Cal Sans SemiBold"; */
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-heading: var(--font-heading), var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-6xl--line-height: 60px;
}
