name: Publish npm packages
on:
 push:
  paths: 
    - packages/emailthing/package.json
    - .github/workflows/publish-npm.yml
  branches: main

jobs:
 npm-publish:
  runs-on: ubuntu-latest
  permissions:
   contents: read
   id-token: write
   packages: write
  if: github.repository_owner == 'RiskyMH'

  steps:
   - uses: actions/checkout@v4
   # Setup .npmrc file to publish to npm
   - uses: actions/setup-node@v4
     with:
      node-version: "*"
      registry-url: "https://registry.npmjs.org"
   - uses: oven-sh/setup-bun@v2
     with:
      bun-version: 1.3.0
   - run: bun install --frozen-lockfile
   - run: bun run build
     working-directory: packages/emailthing
   - run: bun pm pack
     working-directory: packages/emailthing
   - name: assert dist/cli.js exists
     working-directory: packages/emailthing
     run: |
      if [ ! -f "dist/cli.js" ]; then
        echo "dist/cli.js does not exist"
        exit 1
      fi
   - run: npm publish emailthing-*.tgz --provenance --access public || true
     name: Publish to npm
     working-directory: packages/emailthing
     env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
   - run: bun pm pack && npm publish emailthing-cli-*.tgz --provenance --access public || true
     name: Publish CLI to npm
     working-directory: apps/cli
     env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
   - uses: actions/setup-node@v4
     with:
      node-version: "*"
      registry-url: "https://npm.pkg.github.com"
   - run: |
       bun pm pkg set name=@riskymh/emailthing
       bun pm pack
       npm publish riskymh-emailthing-*.tgz --provenance --access public || true
     name: Publish to github packages
     working-directory: packages/emailthing
     env:
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
